* {
    margin: 0;
    padding: 0;
}

header, main {
    margin: 5vh 10vw;
}

header {
    display: flex;
    justify-content: space-between;
}

#products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product {
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-img {
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    margin: 10px 0;
}

.product a {
    color: wheat;
    margin: 5px 0;
}

.product-price {
    margin: 5px 0;
}

.product button {
    cursor: pointer;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    min-width: 50%;
}

#cart {
    position: relative;
}

#cart-button {
    background: none;
    border: none;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#cart-button img {
    max-width: 32px;
    max-height: 32px;
}

#cart-button:hover {
    background: lightgray;
}

.hide {
    display: none;
}

#cart-products {
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;
    top: 60px;
    left: -300px;
    right: 0;
    padding: 10px;
    background: white;
}

#cart-products::before {
    content: "";
    border: transparent solid 16px;
    border-bottom: solid black 16px;
    position: relative;
    left: 295px;
    top: -40px;
    z-index: -1;
}

#cart-products p {
    line-height: 30px;
    margin: 10px 0;
}

#cart-products p img {
    max-width: 64px;
    max-height: 64px;
    float: left;
    margin-right: 10px;
}

#cart-products p::after {
    content: "";
    clear: both;
    display: block;
}

#cart-products button {
    border: 1px solid black;
    margin: 5px 0;
    padding: 5px;
}

#cart-button.active {
    background: lightgreen;
}

.product-desc span {
    color: initial !important;
    font-family: initial !important;
    background: initial !important;
    font-size: initial !important;
    white-space: initial !important;
}

@media screen and (max-width: 1000px) {
    #products-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    #products-grid {
        grid-template-columns: 1fr;
    }
}